/*
* @Author: prabhakar
* @Date:   2016-06-20 02:32:49
* @Last Modified by:   Prabhakar Gupta
* @Last Modified time: 2016-06-22 02:30:49
*/

#all_languages option{
    background-color: #FFF
}

.disabled_div{
    pointer-events: none;
    opacity: 0.5;
}

#no_repo_item{
    margin: 0;
    text-align: center;
    max-width: 100%;
    color: #000;
    font-size: 14px;
}
